@using Microsoft.AspNetCore.Mvc.ModelBinding

@model CreateQuizViewModel

@{
    ViewData["Title"] = "Create quiz";
}

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary(false, "There is a problem:", new { @class = "text-danger" });
}
<section id="create-quiz-form">

    <div>
        <h1>Create Quiz</h1>
    </div>

    <hr />

    <div class="mb-2">
        <a type="button" asp-route="@RouteNames.GetUserDashboard" class="btn btn-primary btn-sm" title="Go back"><span>&#8592;</span> Back</a>
    </div>

    <form id="create-quiz-form" method="post" asp-route="@RouteNames.PostCreateQuiz">
        <br />
        <h4> Basic details </h4>
        <br />

        <div class="form-group">
            <label for="quiz-title">Quiz title:</label>
            <input type="text" class="form-control @(ViewData.ModelState[nameof(Model.Title)]?.ValidationState == ModelValidationState.Invalid ? "is-invalid" : "")" id="quiz-title" asp-for="Title" value="@Model?.Title" placeholder="e.g. European history quiz" required>
        </div>

        <br />

        <h4> Add questions </h4>
        <br />

        <div class="form-group" name="Questions">
            <label for="quiz-question-input">Question:</label>
            <textarea class="form-control @(ViewData.ModelState[nameof(Model.Questions)]?.ValidationState == ModelValidationState.Invalid  ? "is-invalid" : "")" id="quiz-question-input" name="" rows="2" placeholder="e.g. In which country was Napoleon Bonaparte born?"></textarea>
        </div>

        <div id="question-answers-container">
        </div>

        <div>
            <br />
            <button type="button" class="btn btn-primary btn-sm" title="add an answer" onclick="addAnswer('question-answers-container')">Add an Answer</button>
            <button type="button" class="btn btn-success btn-sm float-right" title="save question" onclick="saveQuestionToPreview('question-answers-container','quiz-question-input')">Save Question</button>
            <button type="button" class="btn btn-danger btn-sm mr-1 float-right" title="clear form" onclick="clearQuestion('question-answers-container','quiz-question-input')">Clear</button>
        </div>

        <hr />
        <br />
        <h4> Quiz preview </h4>
        <br />

        <ol id="quiz-preview-container">
        </ol>


        <div class="mb-5">
            <button type="submit" class="btn btn-success btn-sm float-right" title="save questions and create quiz">Create Quiz</button>
        </div>

    </form>
</section>
